

.words-container{
display: flex;
flex-wrap: wrap;
/* justify-content: space-between; */

}

.word{
margin: 0 .5rem 0 0;
cursor: pointer;
height: 4rem;
display: grid;

grid-template-columns: 1fr;
/* border: 1px solid red; */
/* flex-direction: column; */

}


.word-stamp{
font-size: .75rem;
border-top: 1px solid #ffa036;
margin-top: .1rem;
height: 80%;
width: 100%;

text-align: center;
display: flex;
align-items: flex-end;
justify-content: center;


} 

.time-stamp-label {
  justify-self: center !important;
  position: absolute !important;
  margin-top: 2.5rem !important;
}