/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


body{
width: 100vw;
overflow-x: hidden;
height: auto;

display: grid;
padding: 0;
margin: 0;
}



p, small {
font-family: 'Roboto',
sans-serif;
}

h1 ,h1, h3, h4, h5, h6, a {
  font-family: 'Changa',
  sans-serif;
}






button {
  background-color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  align-self: center;
  color: white;
  width: 4rem;
  font-weight: bold;
  
}


button:disabled {
  background-color: #f1f3f4;
  border: none;
  color:grey;
}



.media-player {
  width: 100%;
  max-width: 50rem;
  margin: 0 0 1rem 0;
  grid-area: player;
  position: -webkit-sticky;
  position: sticky;
  top: 1rem;
  
}


#root {
  height: 100vh;
  display: grid;
  justify-self: center;

  width: 90vw;
}

.site-container {
  height:85vh;
  width: 100%;
  max-width: 150rem;
  justify-self: center;
  display: grid;

}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

nav {
  
  height: 15vh;
  width: 100%;
  max-width: 200rem;
  justify-self: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffa036;
  padding: 0 1rem .25rem 1rem;
  margin-top: 1rem;


  
}



nav h4 {
font-size: 3rem;
padding: 0;
margin: 0 0 0 -.2rem;
color: rgb(255, 161, 54);
}
nav a {
  margin: 0 1rem 1rem 0;
  color: black;

}

.nav-links{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 4fr;
 
}


.logged-in-as {
justify-self: right;
}


.player-container {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-top: 2rem;
}

.word-card{
  border: 1px solid black;
}

.words-container{
  display: flex;
  flex-wrap: wrap;
  
}

.word{
  margin: 0 .5rem 0 0;
  cursor: pointer;
  height: 2.3rem;
  display: flex;
  flex-direction: column;
 
}


.word-stamp{
  font-size: .75rem;
  border-top: 1px solid #ffa036;
  margin-top: .1rem;
  height: 80%;
  width: 100%;

  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;

} 



.clips-container {

  height: 5rem;
  margin: 0;
}


.clips-grid{
  margin-top: 1rem;
  display:grid;
  grid-row-gap: 1rem;
}

.clip-card {
   display: grid;

   height: 7rem;
   grid-template-columns: 1fr 7fr 1fr ;
   align-items: center;
   grid-gap: 1rem;
   grid-template-areas:
   "image title ."
   "image author button"
   ;
   margin: 0;

   
}

.author-tag {
  grid-area: author;
}

.clip-image {
  width: 100%;
  height: auto;

}

.clip-image-container {
  display: flex;
  justify-self: center;
  grid-area: image;
  height: 7rem;
  width: 7rem;
  overflow: hidden;
  align-items: center;

}



.clip-card-title {
  grid-area: title;
  
}

.clip-card-button {
  grid-area: button;
  border: 1px solid rgb(12, 12, 5);


 
}



.search-container {
  width: 100%;
  margin-top: 2rem;
  height: 100%; 
  display: flex;
  justify-content: center;


}


 input {
  height: 2rem;
  font-size: 1rem;
  margin: 0 1rem;
  background-color: transparent;
  border: 0;
  text-align: center;
  border-bottom: 1px solid black;
  color: rgb(255, 161, 54);
  -webkit-appearance: none;
  border-radius: 0;
  
}
input::placeholder{
 color: rgb(255, 161, 54);
 opacity: 0.5;

}



.clip-show {
  width: 100%;
  display: grid;

  justify-items: center;
  grid-template-columns: 1fr 3fr 3fr 1fr;

  grid-template-areas: 
  "image info info . "

  "player player player player "
  "search search search search "
  "back-button words words forward-button"
  ;
  grid-gap:1rem ;
  margin-top: 3rem;
  

}

.clip-show-video {
  width: 100%;
  display: grid;

  justify-items: center;
  grid-template-columns: 1fr 3fr 3fr 1fr;

  grid-template-areas:
    "player player player player "
    " info info info info"
    "search search search search "
    "back-button words words forward-button"
  ;
  grid-gap: 1rem;



}

.word-page-back-button-container {
  grid-area: back-button;
  border-right: 1px solid #FFA136;


}

.process-audio-button{

  grid-area: words;
}

.pacman-loader {
   width: 100%;
   grid-area: words;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.clip-processing-message {
  width: 100%;
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid #ffa036;
  text-align: center;
  font-size: 1rem;
  


}

/* .css-10cs9pc-wrapper-wrapper {
  grid-area: words;
} */

.word-page-forward-button-container {
  grid-area: forward-button;
  border-left: 1px solid #FFA136;


}

.word-page-button-container {
height: 100%;
width: 100%;

color: black;

display: grid;
justify-items: center;
grid-template-rows: 2rem;
}

.word-page-button-container:hover{
  cursor: pointer;
}


.word-page-button-container button {


background-color: white;
color: #FFA136;
border: none;
position: -webkit-sticky;
position: sticky;
top: 5rem;


}

.clip-show-info {
  grid-area: info;
  height: 100%;
  width: 100%;
  max-width: 50rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.clip-show-info h1 {
  margin: 0;
}

.clip-show-save-button {
  align-self: flex-start;
  margin: .5rem 0;
}

.clip-show-image-container {
  grid-area: image;
  width: 100%;
  height: 10rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clip-show-image{
  width: auto;
  height: 100%;
}



.search-container {
  grid-area: search;


  
}

.words-container {
  grid-area: words;

}



.login-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.login-form {
  height: 85vh;

  display:grid;
  flex-direction: column;
  grid-template-columns: 1fr ;
  height:30vh;
  width: 30vw;
  align-self: center;
}

.login-button {
  justify-self: center;
}

.sign-up-form {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
}

.sign-up-form * {
  justify-self: center;
}


.signup-button{
  justify-self: center;
  background-color: white;
  color: black;
  border: none;
  font-size: .8rem;

}
.create-account-button {
  justify-self: center;
}

.add-clip-form-container {
  padding: 0;
  margin: 0;
  display: grid;
  justify-items: center;
  height: 40vh;
  align-self: center;
}

.add-clip-form {
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  grid-template-areas:
  " title"
  "audio-label"
  "audio-input "
  " image-label"
  "image-input"
  "submit"
  "loader"
;
  
}

.add-clip-title {
  grid-area: title;

}
.add-clip-audio-label {
  grid-area: audio-label;
  font-weight: bold;
  text-align: center;

}
.add-clip-audio-input {
  grid-area: audio-input;
  border: none;
  
  
}

/* spinner loader */

.css-y7slra-style-style {
  grid-area: loader;
  justify-self: center;
  align-self: center;

}

.upload-complete-message{
  grid-area: loader;
  display: flex;

  align-self: center;
  justify-self: center;
 
  
  

}

.upload-complete-message small{
  font-size: 1rem;
  
}


.add-clip-image-label {
  grid-area: image-label;
  text-align: center;
  font-weight: bold;
}
.add-clip-image-input {
  grid-area: image-input;
  border: none;
}
.add-clip-submit {
  grid-area: submit;
  justify-self: center;
}

/* beatLoader */
.css-0{

  display: flex;
  justify-self: center;
  justify-items: center;
  justify-content: center;
 
}

.jumbotron {

  height: 80vh;

  background-image: url("https://storage.googleapis.com/bucket-of-doom/wordcloud2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;


}



.selected {
font-weight: bold;

}

.no-results-message {
  justify-self: center;
  color: #b7b8b8;
  font-size: 1.5rem;
}


.new-clip-chooser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 50vh;
  align-content: center;
  justify-items: center;
}

